
{% extends 'shop/base.html' %}
{% block content %}
    <body>
        <div class="container">
<!--Start search functionality -->               
            <div card="row">
                <div class="col-md-10 offset-0.3">
                    <div class="card card-sm">
                        <form class="card-body row no-gutters align-items-center">
                            <div class="col">
                                <input type="search" name='product_name' placeholder="Search for products" class="form-control form-control-borderless">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
<!--Products for loop-->
            <div class="row">
            {% for product in product_objects %}

                <div class="col-md-2 offset-0.3">
                    <div class="card">
                        <img class="card-img-top" src="{{ product.image }}"/>
                        <div class="card-body">
                            <p id="nm{{ product.id }}" class="card-title">{{ product.title }}</p>
                            <h4 class="card-text">R {{ product.price }}</h4>
                            <a href="/{{ product.id }}"class="btn btn-warning">View</a>
                            <button id="{{ product.id }}" class="btn atc btn-warning">Add to cart</button>
                    </div>
                </div>
                
            </div>
            {% endfor %}
         </div>
<!--Start pagination-->
         <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
<!--To access data-->
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                    </li>

                    {% if product_objects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                        
                </ul>
            </div>
         </div>

        

    </body>
<!--Javascript for add to cart, well as haddling button clicked-->
    <script type="text/javascript">
        console.log('This is working');
        if(localStorage.getItem('cart')==null){
            var cart = {};
        }
        else{
            cart = JSON.parse(localStorage.getItem('cart'));
        }

        $(document).on('click','.atc',function(){
            console.log('The add to cart button is clicked');
            var item_id = this.id.toString();
            console.log(item_id);
            if (cart[item_id]!=undefined){
                quantity = cart[item_id][0] + 1;
                cart[item_id][0] = quantity   
            }
            else{
                quantity = 1;
                name = document.getElementById("nm"+item_id).innerHTML;
                cart[item_id]=[quantity,name];
            }
            console.log(cart);
            localStorage.setItem('cart',JSON.stringify(cart));
            document.getElementById("cart").innerHTML = "cart("+ Object.keys(cart).length +")";
        });
        
//popover cart

    document.addEventListener("DOMContentLoaded", function() {
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
});

//Javascript popover function
        DisplayCart(cart);
        function DisplayCart(cart){
            var cartString = "";
            cartString += "<h6>This is your cart</h6>";
            var cartIndex = 1;
//Loop in cart
            for(var x in cart){
                cartString += cartIndex;
                cartString += document.getElementById("nm"+x).innerHTML + "Qty:" + cart[x][0] + "</br>";
                cartIndex += 1;
            }

            cartString += `<a href='/checkout'class="btn btn-success" id='checkout'>checkout </a>`;
            document.getElementById("cart").setAttribute('data-bs-content',cartString);
            $('[data-bs-toggle="popover"]').popover();
        }

    </script> 

    
{% endblock %}


