{% load static %}
<!doctype html>
<html lang="en">
    
    <head>
        <link rel="stylesheet" href="{% static 'shop/style.css' %}">
        <title>Get Alot </title>
<!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"/>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

        <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand" style="font-style: italic;">Get Alot!</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <button id="cart" data-html="true" type="button" class="btn btn-secondary" data-container="body" data-tonggle="popover" data-bs-placement="bottom" data-bs-content="button popover">Cart(0)</button>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
<!--Start search functionality -->               
            <div card="row">
                <div class="col-md-10 offset-0.3">
                    <div class="card card-sm">
                        <form class="card-body row no-gutters align-items-center">
                            <div class="col">
                                <input type="search" name='product_name' placeholder="Search for products" class="form-control form-control-borderless">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
<!--Products for loop-->
            <div class="row">
            {% for product in product_objects %}

                <div class="col-md-2 offset-0.3">
                    <div class="card">
                        <img class="card-img-top" src="{{ product.image }}"/>
                        <div class="card-body">
                            <p id="nm{{ product.id }}" class="card-title">{{ product.title }}</p>
                            <h4 class="card-text">R {{ product.price }}</h4>
                            <a href="/{{ product.id }}"class="btn btn-warning">View</a>
                            <button id="{{ product.id }}" class="btn atc btn-warning">Add to cart</button>
                    </div>
                </div>
                
            </div>
            {% endfor %}
         </div>
<!--Start pagination-->
         <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
<!--To access data-->
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                    </li>

                    {% if product_objects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                        
                </ul>
            </div>
         </div>

    </body>
<!--Javascript for add to cart, well as haddling button clicked-->
    <script type="text/javascript">
        console.log('This is working');
        if(localStorage.getItem('cart')==null){
            var cart = {};
        }
        else{
            cart = JSON.parse(localStorage.getItem('cart'));
        }

        $(document).on('click','.atc',function(){
            console.log('The add to cart button is clicked');
            var item_id = this.id.toString();
            console.log(item_id);
            if (cart[item_id]!=undefined){
                cart[item_id] = cart[item_id] + 1;  
            }
            else{
                cart[item_id] = 1;
            }
            console.log(cart);
            localStorage.setItem('cart',JSON.stringify(cart));
            document.getElementById("cart").innerHTML = "cart("+ Object.keys(cart).length +")";
        });

//Javascript popover function
        DisplayCart(cart);
        function DisplayCart(cart){
            var cartString = "";
            cartString += "<h6>This is your cart</h6>";
            var cartIndex = 1;
//Loop in cart
            for(var x in cart){
                cartString += cartIndex;
                cartString += document.getElementById("nm"+x).innerHTML + "Qty:" + cart[x] + "</br>";
                cartIndex += 1;
            }

            cartString += "<a href='/checkout'><button class='btn btn-success' id='checkout'>checkout</button></a>";
            document.getElementById("cart").setAttribute('data-content',cartString);
            $('[data-toggle="popover"]').popover();
        }

    </script>      
</html>


